venv/
social_media_api/db.sqlite3
social_media_api/social_media_api/__pycache__/
social_media_api/user/__pycache__/
social_media_api/comment/__pycache__/
social_media_api/follow/__pycache__/
social_media_api/post/__pycache__/

social_media_api/user/migrations/
social_media_api/comment/migrations/
social_media_api/follow/migrations/
social_media_api/post/migrations/
social_media_api/.env
.env